{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}
{% block body %}
<h1>Chaustore management</h1>
<div class="menu">
    <button><a href="{{ path('register') }}">Register</a></button>
    <button><a href="{{ path('app_login') }}">Login</a></button>

{% endblock %}
