{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('index') }}">back to list</a>
{% endblock %}
